.title {
  width: 100%;
  padding: 10px 20px;
  font: normal 18px/145% 'Arial';
  color: aqua;
  background-color: #999999;
}

.block {
  width: 100px;
  height: 100px;
  background-color: rebeccapurple;
}