@import '../../styles/variables';

.header {
    margin-bottom: 20px;
    padding: 15px;
    background-color: $color-black-secondary;
    box-shadow: 0px -10px 5px -5px rgba(0, 0, 0, 0.37) inset;
}

.logo {
    font: normal 700 1.8rem/120% $font-primary;
}

.container {
    max-width: min(1920px, 95%);
    width: 100%;
    margin: 0 auto;
}

.containerHeader {
    @extend .container;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control {
    display: flex;
    align-items: center;
}

.buttonSettings {
    padding: 5px;
    border-color: transparent;

    svg {
        width: 24px;
        height: 24px;
    }
}
