//colors
$color-black: #000000;
$color-black-secondary: #191919;
$color-white-default: #fff;
$color-white: #eeeeee;
$color-beige: #ecdbba;

$color-default-bg: #1D1F26;
$color-item-bg: #05050B;
$color-item-hovered: #19191F;

// fonts
$font-primary: 'Inter', Arial;
