@import '../../styles/variables';

.card {
    position: relative;
    min-height: 100px;
    width: 350px;
    padding: 10px;
    border: 1px solid $color-beige;
    border-radius: 8px;
    background-color: $color-black-secondary;
}

.status {
    position: absolute;
    top: 0;
    right: 10px;
    color: orange;
}

.satusDone {
    color: green;
}
